{% extends "AppAppBundle::layout.html.twig" %}
{% block header %}
    
<!--==============================header=================================-->
        <header>
            <div class="row-top">
                <div class="main">
                    <div class="wrapper">
                        <h1 class="logo"><a href="{{ path('app_app_homepage') }}">K<span class="logo_bg_white">N</span>S 3W</a></h1>
                        <!-- <form id="search-form" method="post" enctype="multipart/form-data">
                        <fieldset>  
                            <div class="search-field">
                                <input name="search" type="text" value="Search..." onBlur="if(this.value=='') this.value='Search...'" onFocus="if(this.value =='Search...' ) this.value=''" />
                                <a class="search-button" href="#" onClick="document.getElementById('search-form').submit()"></a>    
                            </div>                      
                        </fieldset> -->
                    </form>
                    </div>
                </div>
            </div>
            <div class="menu-row">
                <div class="menu-bg">
                    <div class="main">
                        <nav class="indent-left">
                            <ul class="menu wrapper">
                                {% block menu %}
                                    {{ render(controller("AppMenuBundle:Menu:menu")) }}
                                {% endblock %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row-bot">
                <div class="center-shadow">
                    <div class="carousel-container">
                        {% block carousel %}
                            {{ render(controller("AppCarouselBundle:Carousel:carousel")) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>

{% endblock %}

{% block body %}
    
        <!--==============================content================================-->
            
        <section id="content">
            <div class="main">
                <div class="zerogrid">
                    <div class="wrapper row">
                        <article class="col-2-3">
                            <div class="wrap-col">
                            {% block start_form %}{% endblock %}
                        	<h3>{% block title1 %}
                                {% if mains %}
                                    {% for main in mains %}
                                        {{ main.title1.titre}}
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}</h3>
                            <em class="text-1 margin-bot">
                            {% block various %}
                                {% if mains %}
                                {% for main in mains %}
                                    {{ main.various.short }}
                                {% endfor %}
                                {% endif %}
                            {% endblock %}
                            </em>
                            <div class="wrapper p4">
                            	<article class="col-1-2">
									<div class="wrap-col">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2">
                                            {% block frontBox1_upload %}
                                {% if mains %}
                                                {% for main in mains %}
                                                <img src="{{ asset('uploads/') }}{{ main.frontBox1.upload.url }}" alt="" />
                                                {% endfor %}
                                {% endif %}
                                            {% endblock %}
                                        </figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>
                                                    {% block frontBox1_subtitle1 %}
                                {% if mains %}
                                                        {% for main in mains %}
                                                            {{ main.frontbox1.subtitle1.subtitle1 }}
                                                        {% endfor %}
                                {% endif %}
                                                    {% endblock %}
                                                    <em>
                                {% if mains %}
                                                        {% for main in mains %}
                                                            {% block frontBox1_subtitle2 %}{{ main.frontbox1.subtitle2.subtitle2 }}{% endblock %}
                                                        {% endfor %}
                                {% endif %}
                                                    </em>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">
                                        {% block frontBox1_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.frontbox1.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block frontBox1_link %}
                                {% if mains %}
                                        {% for main in mains %}
                                        <a class="link-1" href="">Voir Plus</a>
                                        {% endfor %}
                                {% endif %}
                                    {% endblock %}
                                    
									</div>
                                </article>
                                <article class="col-1-2">
									<div class="wrap-col">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2">
                                        {% block frontBox2_upload %}
                                {% if mains %}
                                            {% for main in mains %}
                                                <img src="{{ asset('uploads/') }}{{ main.frontBox2.upload.url }}" alt="" />
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                        </figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>
                                                    {% block frontBox2_subtitle1 %}
                                {% if mains %}
                                                        {% for main in mains %}
                                                            {{ main.frontbox2.subtitle1.subtitle1 }}
                                                        {% endfor %}
                                {% endif %}
                                                    {% endblock %}
                                                    <em>
                                                        {% block frontBox2_subtitle2 %}
                                {% if mains %}
                                                            {% for main in mains %}
                                                                {{ main.frontbox2.subtitle2.subtitle2 }}
                                                            {% endfor %}
                                {% endif %}
                                                        {% endblock %}
                                                    </em>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">
                                        {% block frontBox2_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.frontbox2.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block frontBox2_link %}
                                {% if mains %}
                                        {% for main in mains %}
                                            <a class="link-1" href="">Voir Plus</a>
                                        {% endfor %}
                                {% endif %}
                                    {% endblock %}
									</div>
                                </article>
                            </div>
                            <div class="wrapper">
                            	<article class="col-1-2">
									<div class="wrap-col">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2">
                                            {% block frontBox3_upload %}    
                                {% if mains %}
                                                {% for main in mains %}
                                                    <img src="{{ asset('uploads/') }}{{ main.frontBox3.upload.url }}" alt="" />
                                                {% endfor %}
                                {% endif %}
                                            {% endblock %}
                                        </figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>
                                                    {% block frontBox3_subtitle1 %}
                                {% if mains %}
                                                        {% for main in mains %}
                                                            {{ main.frontbox3.subtitle1.subtitle1 }}
                                                        {% endfor %}
                                {% endif %}
                                                    {% endblock %}
                                                    <em>
                                                        {% block frontBox3_subtitle2 %}
                                {% if mains %}
                                                            {% for main in mains %}
                                                                {{ main.frontbox3.subtitle2.subtitle2 }}
                                                            {% endfor %}
                                {% endif %}
                                                        {% endblock %}
                                                    </em>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">
                                        {% block frontBox3_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.frontbox3.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block frontBox3_link %}
                                {% if mains %}
                                        {% for main in mains %}
                                            <a class="link-1" href="">Voir Plus</a>
                                        {% endfor %}
                                {% endif %}
                                    {% endblock %}
									</div>
                                </article>
                                <article class="col-1-2">
									<div class="wrap-col">
                                	<div class="wrapper p1">
                                    	<figure class="img-indent2">
                                            {% block frontBox4_upload %}    
                                {% if mains %}
                                                {% for main in mains %}
                                                    <img src="{{ asset('uploads/') }}{{ main.frontBox4.upload.url }}" alt="" />
                                                {% endfor %}
                                {% endif %}
                                            {% endblock %}
                                        </figure>
                                        <div class="extra-wrap">
                                        	<div class="indent-top">
                                            	<h4>
                                                    {% block frontBox4_subtitle1 %}
                                {% if mains %}
                                                        {% for main in mains %}
                                                            {{ main.frontbox4.subtitle1.subtitle1 }}
                                                        {% endfor %}
                                {% endif %}
                                                    {% endblock %}
                                                    <em>
                                                        {% block frontBox4_subtitle2 %}
                                {% if mains %}
                                                            {% for main in mains %}
                                                                {{ main.frontbox4.subtitle2.subtitle2 }}
                                                            {% endfor %}
                                {% endif %}
                                                        {% endblock %}
                                                    </em>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="prev-indent-bot">
                                        {% block frontBox4_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.frontbox4.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block frontBox4_link %}
                                {% if mains %}
                                        {% for main in mains %}
                                            <a class="link-1" href="">Voir Plus</a>
                                        {% endfor %}
                                {% endif %}
                                    {% endblock %}
									</div>
                                </article>
                            </div>
							</div>
                        </article>
                        <article class="col-1-3">
							<div class="wrap-col">
                        	<h3>
                            {% block title2 %}
                                {% if mains %}
                                {% for main in mains %}
                                    {{ main.title2.titre}}
                                {% endfor %}
                                {% endif %}
                            {% endblock %}
                            </h3>
                            <div class="wrapper p3">
                            	<figure class="img-indent">
                                    <a href="#">
                                        {% block sidebox1_upload %}    
                                {% if mains %}
                                            {% for main in mains %}
                                                <img src="{{ asset('uploads/') }}{{ main.sidebox1.upload.url }}" alt="" />
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </a>
                                </figure>
                                <div class="extra-wrap">
                                	<span class="text-2">
                                        {% block sidebox1_subtitle3 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox1.subtitle3.subtitle3 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </span>
                                    <h4 class="p2">
                                        {% block sidebox1_subtitle1 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox1.subtitle1.subtitle1 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </h4>
                                    <p class="prev-indent-bot">
                                        {% block sidebox1_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox1.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block sidebox1_link %}
                                        <a class="link-1" href="">Voir Plus</a>
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="wrapper p3">
                            	<figure class="img-indent">
                                    <a href="#">
                                        {% block sidebox2_upload %}  
                                {% if mains %}
                                            {% for main in mains %}
                                                <img src="{{ asset('uploads/') }}{{ main.sidebox2.upload.url }}" alt="" />
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </a>
                                </figure>
                                <div class="extra-wrap">
                                	<span class="text-2">
                                        {% block sidebox2_subtitle3 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox2.subtitle3.subtitle3 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </span>
                                    <h4 class="p1">
                                        {% block sidebox2_subtitle1 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox2.subtitle1.subtitle1 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </h4>
                                    <p class="prev-indent-bot">
                                        {% block sidebox2_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox2.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block sidebox2_link %}
                                        <a class="link-1" href="">Voir Plus</a>
                                    {% endblock %}
                                </div>
                            </div>
                            <div class="wrapper">
                            	<figure class="img-indent">
                                    <a href="#">
                                        {% block sidebox3_upload %}  
                                {% if mains %}
                                            {% for main in mains %}
                                                <img src="{{ asset('uploads/') }}{{ main.sidebox3.upload.url }}" alt="" />
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </a>
                                </figure>
                                <div class="extra-wrap">
                                	<span class="text-2">
                                        {% block sidebox3_subtitle3 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox3.subtitle3.subtitle3 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </span>
                                    <h4 class="prev-indent-bot">
                                        {% block sidebox3_subtitle1 %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox3.subtitle1.subtitle1 }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </h4>
                                    <p class="prev-indent-bot">
                                        {% block sidebox3_short %}
                                {% if mains %}
                                            {% for main in mains %}
                                                {{ main.sidebox3.short.short }}
                                            {% endfor %}
                                {% endif %}
                                        {% endblock %}
                                    </p>
                                    {% block sidebox3_link %}
                                        <a class="link-1" href="">Voir Plus</a>
                                    {% endblock %}
                                </div>
                            </div>

                            {% block end_form %}
                                
                            {% endblock %}
							</div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="block"></div>
        </section>
{% endblock %}